.container {
	height: 300px;
	width: 300px;
	padding: 30px;
	border: 2px solid rgb(15, 18, 43);
	border-radius: 25px 0 25px 0;
	background-color:#9aadb0df;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
