.logo {
	height: 70px;
	border: 1.6px solid rgb(15, 18, 43);
}

.heading {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: rgb(15, 18, 43);
}

@media screen and (min-width: 1025px) {
	.container {
		width: 50vw;
		font-size: 30px;
		background-color: #7399a3;
	}

	.headerSection {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.heading {
		color: ivory;
		font-weight: 400;
	}
}
