.output {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	margin-top: 10px;
}

@media screen and (min-width: 1025px) {
	.output {
		background-color: ivory;
	}
}
